/*
// Add your own style rules here, not in css/main.css
// or css/setting.css for easy updating reasons.
*/
.setting.element.multitext{
	display:block;
    height: 120px;
    margin-left: 24px;
}

.setting.element.button{
    margin-left: 24px;
}